@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 36 33% 97%;
        --foreground: 20 14% 12%;
        --card: 30 20% 98%;
        --card-foreground: 20 14% 12%;
        --primary: 45 97% 62%;
        --primary-foreground: 20 14% 12%;
        --secondary: 40 45% 92%;
        --secondary-foreground: 30 40% 25%;
        --muted: 30 20% 94%;
        --muted-foreground: 26 8% 45%;
        --accent: 44 82% 83%;
        --accent-foreground: 20 14% 15%;
        --destructive: 8 100% 97%;
        --destructive-foreground: 6 74% 54%;
        --border: 30 15% 88%;
        --input: 30 15% 88%;
        --ring: 45 90% 55%;
        --success: 146 80% 40%;
        --priority-low: 142 73% 90%;
        --priority-low-foreground: 146 68% 33%;
        --priority-medium: 45 100% 90%;
        --priority-medium-foreground: 35 91% 31%;
        --priority-high: 10 100% 92%;
        --priority-high-foreground: 6 71% 48%;
    }

    .dark {
        --background: 20 15% 8%;
        --foreground: 40 30% 92%;
        --card: 20 12% 12%;
        --card-foreground: 40 30% 92%;
        --primary: 45 90% 60%;
        --primary-foreground: 20 15% 10%;
        --secondary: 30 15% 18%;
        --secondary-foreground: 40 25% 80%;
        --muted: 25 12% 16%;
        --muted-foreground: 30 10% 65%;
        --accent: 42 40% 22%;
        --accent-foreground: 45 80% 75%;
        --destructive: 8 55% 16%;
        --destructive-foreground: 7 85% 76%;
        --border: 25 12% 22%;
        --input: 25 12% 22%;
        --ring: 45 90% 60%;
        --success: 146 70% 52%;
        --priority-low: 147 36% 22%;
        --priority-low-foreground: 137 56% 78%;
        --priority-medium: 39 39% 23%;
        --priority-medium-foreground: 45 88% 79%;
        --priority-high: 8 35% 24%;
        --priority-high-foreground: 8 86% 82%;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: 20 15% 8%;
            --foreground: 40 30% 92%;
            --card: 20 12% 12%;
            --card-foreground: 40 30% 92%;
            --primary: 45 90% 60%;
            --primary-foreground: 20 15% 10%;
            --secondary: 30 15% 18%;
            --secondary-foreground: 40 25% 80%;
            --muted: 25 12% 16%;
            --muted-foreground: 30 10% 65%;
            --accent: 42 40% 22%;
            --accent-foreground: 45 80% 75%;
            --destructive: 8 55% 16%;
            --destructive-foreground: 7 85% 76%;
            --border: 25 12% 22%;
            --input: 25 12% 22%;
            --ring: 45 90% 60%;
            --success: 146 70% 52%;
            --priority-low: 147 36% 22%;
            --priority-low-foreground: 137 56% 78%;
            --priority-medium: 39 39% 23%;
            --priority-medium-foreground: 45 88% 79%;
            --priority-high: 8 35% 24%;
            --priority-high-foreground: 8 86% 82%;
        }
    }
}